/target/
/.idea/
/nbproject/
/src/test/java/deepl/
/src/main/resources/hibernate.cfg.xml
/src/main/resources/hikari.properties
/src/main/resources/application-dev.yaml
.DS_Store
/storage
siamois.iml

/.smarttomcat/
/htmlReport/
