body .ui-chip.error-chip {
    background-color: var(--error-main);
    border: none;
    color: white;
    font-size: 16px;
}


body .ui-chip.valid-type-chip {
    background-color: var(--green-valid);
    color: white;
    font-size: 16px;
}

td {
    .ui-chip {
        .ui-chip-text {
            display: inline-block;
            max-width: 8em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: middle;
            font-size: 12px;
        }
    }
}
