@import '../../variables';


// Mixin that creates themed styles
@mixin themed-panel($panel-selector, $main-color, $light50-color, $light100-color, $light200-color, $dark-color) {

  .#{$panel-selector}-panel {

    // CSS custom properties for this panel

    // TODO : move this in a main css class $panel-selector and refactor classes
    --main-color: #{$main-color};
    --light-color-50: #{$light50-color};
    --light-color-100: #{$light100-color};
    --light-color-200: #{$light200-color};
    --dark-color: #{$dark-color};


    // Panel title bar
    &.ui-panel {
      .ui-panel-titlebar {
        background: var(--light-color-100);
      }
      // Single unit panels
      &.single-panel {  // Main style for panels


        // content
        .ui-tabs-nav {
          background: var(--light-color-50);
        }

        // breadcrumb
        .ui-breadcrumb {
          border: none;
          background: var(--light-color-50);
        }

        // tabs
        .ui-tabs {
          &.ui-tabs-top > .ui-tabs-nav,
          .ui-tabs-nav {
            li.ui-tabs-header.ui-state-active {
              border-color: var(--main-color);

              a {
                color: var(--main-color);
              }
            }
          }
        }


      }
    }

    // Panel title
    .sia-panel-title {
      color: var(--main-color);
    }

    &.siamois-panel {
      .sia-form-panel .ui-panel-titlebar {
        border-bottom: 1px solid var(--light-color-200);
      }
    }

    // Datatable
    .ui-datatable thead th {
      background: var(--light-color-100);

      &.ui-state-active {
        color: var(--main-color);
        background: var(--light-color-200);

        &.ui-state-hover {
          color: var(--main-color);
          background: var(--light-color-50);
        }

        .ui-column-title {
          color: var(--main-color);
        }

        .ui-sortable-column-icon.ui-icon-carat-2-n-s {
          color: var(--main-color);
        }
      }

      &.ui-state-hover {
        background: var(--light-color-50);

        .ui-column-title,
        .ui-sortable-column-icon.ui-icon-carat-2-n-s {
          color: var(--main-color);
        }

      }

      &.ui-sortable-column.ui-state-focus {
        outline: 0;
        outline-offset: 0;
        box-shadow: inset 0 0 0 .2rem var(--main-color);
      }

      .ui-sortable-column-badge {
        background: var(--main-color);
      }
    }

    .ui-datatable-data td[role="gridcell"]:focus, .ui-datatable-data td[role="gridcell"] *:focus, .ui-datatable-data td[role="grid"] [tabindex="0"]:focus {
      outline: var(--main-color);
      outline-style: solid;
      outline-width: 2px;
    }

    // Paginator
    .ui-paginator {
      .ui-paginator-pages {
        .ui-paginator-page {
          &.ui-state-active {
            background: var(--main-color);
          }

          &.ui-state-focus {
            box-shadow: 0 0 0 .2rem var(--light-color-200);
          }
        }
      }

      // Grouping focus styles for first/prev/next/last
      .ui-paginator-first,
      .ui-paginator-prev,
      .ui-paginator-next,
      .ui-paginator-last {
        &.ui-state-focus {
          box-shadow: 0 0 0 .2rem var(--light-color-200);
        }
      }
    }

    // Chip
    .ui-chip {
      background-color: var(--main-color);
      color: white;
      font-size: 16px;
    }

    // Input fields
    .ui-inputfield {
      &.ui-state-hover {
        border-color: var(--light-color-200);
      }

      &.ui-state-focus {
        border-color: var(--light-color-200);
        box-shadow: 0 0 0 .2em var(--light-color-100);
      }
    }

    .sia-modified-field {
      border-color: var(--main-color);
    }

    // Buttons
    .ui-button {
      background: var(--main-color);
      border: 1px solid var(--main-color);

      &:hover {
        background: var(--dark-color);
        border: 1px solid var(--dark-color);
      }

      &.sia-icon-btn {
        background: transparent;
        border: none;
        color: var(--main-color);

        &:hover {
          background: var(--light-color-50);
          border: none;
          color: var(--dark-color);
        }
      }

    }

    // Separators
    .ui-separator {
      background: var(--light-color-100);
    }

    .ui-divider {
      &.ui-divider-horizontal {
        &:before {
          border-top-color: var(--light-color-200);
        }
      }
    }

    // Panel footer
    .panel-footer {
      background: var(--light-color-100);
      border-radius: 0;
      border: none;
    }

    // command links
    .ui-commandlink,
    .ui-link {
      color: var(--main-color);
    }

    .ui-autocomplete .ui-autocomplete-multiple-container .ui-autocomplete-token {
      background-color: var(--main-color);
      color: white;
    }



  }

  // Buttons
  .#{$panel-selector}-btn {

    // CSS custom properties for this panel
    --main-color: #{$main-color};
    --light-color-50: #{$light50-color};
    --light-color-100: #{$light100-color};
    --light-color-200: #{$light200-color};
    --dark-color: #{$dark-color};

    &.ui-button {
      background: var(--main-color);
      border-color: var(--main-color);

      &:hover {
        background: var(--dark-color);
        border-color: var(--dark-color);
      }
    }
  }

  // Autocomplete
  .#{$panel-selector}-autocomplete {

    // CSS custom properties for this panel
    --main-color: #{$main-color};
    --light-color-50: #{$light50-color};
    --light-color-100: #{$light100-color};
    --light-color-200: #{$light200-color};
    --dark-color: #{$dark-color};

    &.ui-autocomplete-panel {
      .ui-button {
        background: var(--main-color);
        border-color: var(--main-color);
      }

      .ui-autocomplete-items .ui-autocomplete-item.ui-state-highlight {
        background: var(--main-color);
      }
    }

  }

  // welcome cards
  .sia-welcome-card.sia-#{$panel-selector} {

    // CSS custom properties for this panel
    --main-color: #{$main-color};
    --light-color-50: #{$light50-color};
    --light-color-100: #{$light100-color};
    --light-color-200: #{$light200-color};
    --dark-color: #{$dark-color};

    background: var(--light-color-50);
    color: var(--main-color)
  }

  // chips
  .ui-chip {
    &.#{$panel-selector}-count-chip {

      // CSS custom properties for this panel
      --main-color: #{$main-color};
      --light-color-50: #{$light50-color};
      --light-color-100: #{$light100-color};
      --light-color-200: #{$light200-color};
      --dark-color: #{$dark-color};

      background-color: white;
      border: 1px solid var(--main-color);
      color: var(--main-color);
      font-size: 16px;
    }

    &.#{$panel-selector}-count-chip-alt {

      // CSS custom properties for this panel
      --main-color: #{$main-color};
      --light-color-50: #{$light50-color};
      --light-color-100: #{$light100-color};
      --light-color-200: #{$light200-color};
      --dark-color: #{$dark-color};

      background-color: var(--main-color);
      border: 1px solid var(--main-color);
      color: white;
      font-size: 16px;
    }

    &.#{$panel-selector}-type-chip {

      // CSS custom properties for this panel
      --main-color: #{$main-color};
      --light-color-50: #{$light50-color};
      --light-color-100: #{$light100-color};
      --light-color-200: #{$light200-color};
      --dark-color: #{$dark-color};

      background-color: var(--main-color);
      color: white;
      font-size: 16px;
    }

  }

}

// Super clean usage - just define the color!
@include themed-panel('spatial-unit', $contextMainColor, $contextLightColor50, $contextLightColor100, $contextLightColor200, $contextDarkColor);
@include themed-panel('action-unit', $contextMainColor, $contextLightColor50, $contextLightColor100, $contextLightColor200, $contextDarkColor);
@include themed-panel('recording-unit', $groundMainColor, $groundLightColor50, $groundLightColor100, $groundLightColor200, $groundDarkColor);
@include themed-panel('specimen', $groundMainColor, $groundLightColor50, $groundLightColor100, $groundLightColor200, $groundDarkColor);