body .ui-button {
    background: var(--siamois-green);
    border: 1px solid var(--siamois-green);
}

/* survol */
body .ui-button.ui-state-hover {
    background: var(--siamois-green-light-350);
    border-color: var(--siamois-green-light-350);
}

/* focus clavier */
body .ui-button.ui-state-focus {
    outline: 2px solid var(--siamois-green-light-350);
    outline-offset: 2px;
}

/* actif / clic */
body .ui-button.ui-state-active {
    background: var(--siamois-green-light-200);
}

/* désactivé */
body .ui-button.ui-state-disabled {
    background: var(--siamois-green-light-50);
    color: #666666;
    cursor: not-allowed;
    opacity: 0.65;
}

/* secondary */

body .ui-button.ui-button-secondary {
    background: transparent;
    color: var(--siamois-green);
    border: transparent;
}


