:root {
    --primary-color: #bed730 !important;
    --primary-color-text: #bed730 !important;
}

.ui-button {
    background-color: #bed730 !important; /* Change button background */
    border-color: #bed730 !important;    /* Change button border */
    color: black; !important;
}

.ui-tabs-header.ui-state-active {
    color: #a7484d !important;
}

.ui-tabs.ui-tabs-top>.ui-tabs-nav li.ui-tabs-header.ui-state-active {
    color: #a7484d !important;
    border-color: #a7484d !important;
}
.btn-danger {
    background-color: #a7484d !important; /* Change button background */
    border-color: #a7484d !important;    /* Change button border */
}

