* {
    --siamois-green-light: #E6F0E6;
    --description-grey: #6B7280;
}

body {
    background-color: var(--siamois-green-light);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}
@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

@media (max-width: 769px) {
    div#left-image {
        display: none;
    }
}

img {
    max-width:100%;
    max-height:100%;
}

p.description {
    color: var(--description-grey);
}

div.invalid-feedback {
    display: block;
    padding-bottom: 10px;
}