.content-body {
    background: var(--siamois-green-unknown);
}

.siamois-panel {
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    border: 1px solid var(--siamois-green-light-100);
}

.ui-panel.siamois-panel .ui-panel-content {
    padding: 0;
}

.ui-panel.siamois-panel .ui-panel-titlebar {
    font-family: 'Inter', sans-serif;
    color: var(--text-light)
}

.siamois-panel .ui-widget {
    font-family: 'Inter', sans-serif;
}

.siamois-panel .panel-top-section {
    padding: 1em;
}

.siamois-panel .ui-tabs.ui-tabs-top > .ui-tabs-nav li.ui-tabs-header {
    background: transparent;
}


.siamois-panel .ui-tabs .ui-tabs-nav {
    background: transparent;
}


.siamois-panel .ui-breadcrumb {
    border: none;
    border-radius: 0;
}

.siamois-panel .ui-toolbar {
    border: none;
    background: none;
}

.ui-panel.spatial-unit-panel .ui-panel-titlebar {
    background: var(--context-light-color-100);

}

.spatial-unit-panel-title {
    color: var(--context-main-color);
    font-size: 22px;
    padding: 0.5em;
}

.spatial-unit-panel .ui-datatable thead th {
    background: var(--context-light-color-100);
}

.spatial-unit-panel .ui-button {
    background: var(--context-main-color);
    border: 1px solid var(--context-main-color);
}

.spatial-unit-panel .ui-separator {
    background: var(--context-light-color-100);
}


.spatial-unit-panel .ui-divider.ui-divider-horizontal:before {
    border-top-color: var(--context-light-color-200);
}

.spatial-unit-panel .panel-footer {
    background: var(--context-light-color-100);
    border-radius: 0;
    border: none;
}

.ui-chip.spatial-unit-count-chip {
    background-color: white;
    border: 1px solid var(--context-main-color);
    color: var(--context-main-color);
    font-size: 16px;
}

.ui-chip.spatial-unit-type-chip {
    background-color: var(--context-main-color);
    color: white;
    font-size: 16px;
}

.ui-chip.recording-unit-type-chip {
    background-color: var(--ground-main-color);
    color: white;
    font-size: 16px;
}

.ui-chip.valid-type-chip {
    background-color: var(--green-valid);
    color: white;
    font-size: 16px;
}

.ui-panel.spatial-unit-single-panel .ui-panel-content {
    background: var(--context-light-color-50);
}

.spatial-unit-single-panel .ui-breadcrumb {
    border: none;
    background: var(--context-light-color-50);
}

.spatial-unit-single-panel .siamois-toolbar {
    background: transparent;
    box-shadow: none;
}

.spatial-unit-single-panel .ui-tabs.ui-tabs-top > .ui-tabs-nav li.ui-tabs-header.ui-state-active {
    border-color: var(--context-main-color);
}

.spatial-unit-single-panel .ui-tabs .ui-tabs-nav li.ui-tabs-header.ui-state-active a {
    color: var(--context-main-color);
}

tbody.spatial-unit-datatable .ui-link {
    color: var(--context-main-color)
}


.recording-unit-tab .ui-datatable thead th {
    background: var(--ground-light-color-100);
}

.recording-unit-tab .ui-datatable .ui-link {
    color: var(--ground-main-color)
}

/* Action units panels */


.ui-panel.action-unit-panel .ui-panel-titlebar {
    background: var(--context-light-color-100);

}

.action-unit-panel-title {
    color: var(--context-main-color);
    font-size: 22px;
    padding: 0.5em;
}

.action-unit-panel .ui-datatable thead th {
    background: var(--context-light-color-100);
}

.action-unit-panel .ui-button {
    background: var(--context-main-color);
    border: 1px solid var(--context-main-color);
}

.action-unit-panel .ui-separator {
    background: var(--context-light-color-100);
}


.action-unit-panel .ui-divider.ui-divider-horizontal:before {
    border-top-color: var(--context-light-color-200);
}

.action-unit-panel .panel-footer {
    background: var(--context-light-color-100);
    border-radius: 0;
    border: none;
}

.ui-chip.action-unit-count-chip {
    background-color: white;
    border: 1px solid var(--context-main-color);
    color: var(--context-main-color);
    font-size: 16px;
}

.ui-chip.action-unit-type-chip {
    background-color: var(--context-main-color);
    color: white;
    font-size: 16px;
}

.ui-panel.action-unit-single-panel .ui-panel-content {
    background: var(--context-light-color-50);
}

.action-unit-single-panel .ui-breadcrumb {
    border: none;
    background: var(--context-light-color-50);
}

.action-unit-single-panel .siamois-toolbar {
    background: transparent;
    box-shadow: none;
}

.action-unit-single-panel .ui-tabs.ui-tabs-top > .ui-tabs-nav li.ui-tabs-header.ui-state-active {
    border-color: var(--context-main-color);
}

.action-unit-single-panel .ui-tabs .ui-tabs-nav li.ui-tabs-header.ui-state-active a {
    color: var(--context-main-color);
}

tbody.action-unit-datatable .ui-link {
    color: var(--context-main-color)
}

/* Recording units panels */

.ui-panel.recording-unit-panel .ui-panel-titlebar {
    background: var(--ground-light-color-100);

}

.recording-unit-panel-title {
    color: var(--ground-main-color);
    font-size: 22px;
    padding: 0.5em;
}

.recording-unit-panel .ui-datatable thead th {
    background: var(--ground-light-color-100);
}

.recording-unit-panel .ui-button {
    background: var(--ground-main-color);
    border: 1px solid var(--ground-main-color);
}

.recording-unit-panel .ui-separator {
    background: var(--ground-light-color-100);
}


.recording-unit-panel .ui-divider.ui-divider-horizontal:before {
    border-top-color: var(--ground-light-color-200);
}

.recording-unit-panel .panel-footer {
    background: var(--ground-light-color-100);
    border-radius: 0;
    border: none;
}

.ui-chip.recording-unit-count-chip {
    background-color: white;
    border: 1px solid var(--ground-main-color);
    color: var(--ground-main-color);
    font-size: 16px;
}


.ui-panel.recording-unit-single-panel .ui-panel-content {
    background: var(--ground-light-color-50);
}

.recording-unit-single-panel .ui-breadcrumb {
    border: none;
    background: var(--ground-light-color-50);
}

.recording-unit-single-panel .siamois-toolbar {
    background: transparent;
    box-shadow: none;
}

.recording-unit-single-panel .ui-tabs.ui-tabs-top > .ui-tabs-nav li.ui-tabs-header.ui-state-active {
    border-color: var(--ground-main-color);
}

.recording-unit-single-panel .ui-tabs .ui-tabs-nav li.ui-tabs-header.ui-state-active a {
    color: var(--ground-main-color);
}

tbody.recording-unit-datatable .ui-link {
    color: var(--context-main-color)
}







