.content-body {
    background: var(--siamois-green-unknown);
}

.siamois-panel .ui-widget {
    font-family: 'Inter', sans-serif;
}

body .ui-selectbooleanbutton.ui-state-active, body .ui-selectonebutton > .ui-button.ui-state-active, body .ui-selectmanybutton > .ui-button.ui-state-active {
    background: var(--siamois-green);
    border-color: var(--siamois-green);
}

body .ui-selectbooleanbutton.ui-state-active.ui-state-hover, body .ui-selectonebutton > .ui-button.ui-state-active.ui-state-hover, body .ui-selectmanybutton > .ui-button.ui-state-active.ui-state-hover {
     background: var(--siamois-green);
     border-color: var(--siamois-green);
}

body .ui-button.ui-state-focus {
    box-shadow: var(--siamois-green-light-200)
}

body .ui-selectbooleanbutton.ui-state-active:not(.ui-state-disabled):hover,body .ui-selectonebutton>.ui-button.ui-state-active:not(.ui-state-disabled):hover,body .ui-selectmanybutton>.ui-button.ui-state-active:not(.ui-state-disabled):hover {
    background: var(--siamois-green);
    border-color: var(--siamois-green);
}

.panel-highlight {
    outline: 3px solid var(--siamois-green-light-350);
    transition: outline 0.5s ease-in-out;
}

.sia-flow-panel-title, .ui-chip-text {
    font-size: 14px;
}


.siamois-panel {
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    border: 1px solid var(--siamois-green-light-100);
}

.siamois-panel .ui-datatable .ui-datatable-header {
    background: transparent;
    border: none;
}

.sia-panel-title {
    font-size: 22px;
    padding: 0.5em 0.5em 0.5em 2em;
}

/* BUTTONS */
.ui-button.sia-icon-btn {
    background: transparent;
    border: none;
    color: var(--siamois-green-light-350);
}


/* input fields */

body .ui-inputfield.ui-state-hover {
    border-color: var(--siamois-green);
}

body .ui-inputfield.ui-state-focus {
    border-color: var(--siamois-green);
    box-shadow: 0 0 0 .2em var(--siamois-green-light-350);
}

body .ui-datatable .ui-datatable-data>tr>td {
    padding: 0.5em;
}

.ui-panel.siamois-panel .ui-panel-content {
    padding: 0;
}

.ui-panel.siamois-panel .ui-panel-titlebar {
    font-family: 'Inter', sans-serif;
    background: var(--siamois-green-light-100);
    color: var(--text-light)
}


.siamois-panel .panel-top-section {
    padding: 1em;
}

.siamois-panel .ui-tabs.ui-tabs-top > .ui-tabs-nav li.ui-tabs-header {
    background: transparent;
}


.siamois-panel .ui-tabs .ui-tabs-nav {
    background: transparent;
}


.siamois-panel .ui-breadcrumb {
    border: none;
    border-radius: 0;
}

.siamois-panel .ui-toolbar {
    border: none;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background: none;
}

/* autocomplete */

.ui-autocomplete-panel .ui-button {
    background: var(--siamois-green);
    border-color: var(--siamois-green);
}

.ui-autocomplete-panel .ui-button:hover {
    background: var(--siamois-green-light-350);
    border-color: var(--siamois-green-light-350);
}

body .ui-autocomplete-panel .ui-autocomplete-items .ui-autocomplete-item.ui-state-highlight {
    background: var(--siamois-green-light-100);
}



body .ui-datatable thead th.ui-sortable-column.ui-state-focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: inset 0 0 0 .2rem var(--siamois-green);
}

body .ui-datatable-data td[role="gridcell"]:focus, .ui-datatable-data td[role="gridcell"] *:focus, .ui-datatable-data td[role="grid"] [tabindex="0"]:focus {
    outline: var(--siamois-green);
    outline-style: solid;
    outline-width: 2px;
    border: 0;
}

body .ui-datatable thead th .ui-sortable-column-badge {
    border-radius: 50%;
    height: 1.143rem;
    min-width: 1.143rem;
    line-height: 1.143rem;
    color: #fff;
    background: var(--siamois-green);
    margin-left: .5rem;
    font-size: .75rem;
}

/* paginator */

body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
    background: var(--siamois-green-light-100);
    color: var(--text-main);
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 .2rem var(--siamois-green-light-200);
}


body .ui-paginator .ui-paginator-first.ui-state-focus, body .ui-paginator .ui-paginator-prev.ui-state-focus, body .ui-paginator .ui-paginator-next.ui-state-focus, body .ui-paginator .ui-paginator-last.ui-state-focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 .2rem var(--siamois-green-light-200);
}

body .ui-datatable .ui-paginator.ui-paginator-bottom {
    text-align: right;
}

/* thead */

body .ui-datatable thead th {
    background: var(--siamois-green-light-100);
    align-content: start;
}

body .ui-datatable thead th.ui-state-active {
    color: var(--siamois-green);
    background: var(--siamois-green-light-200);
}

body .ui-datatable thead th.ui-state-hover {
    background: var(--siamois-green-light-50);
}

body .ui-datatable thead th.ui-state-active.ui-state-hover {
    color: var(--siamois-green);
    background: var(--siamois-green-light-50);
}

body .ui-datatable thead th.ui-state-active .ui-column-title {
    color: var(--siamois-green)
}

body .ui-datatable thead th.ui-state-active .ui-sortable-column-icon.ui-icon-carat-2-n-s {
    color: var(--siamois-green);
}

body .ui-datatable thead th.ui-state-hover .ui-column-title {
    color: var(--siamois-green)
}

body .ui-datatable thead th.ui-state-hover .ui-sortable-column-icon.ui-icon-carat-2-n-s {
    color: var(--siamois-green);
}

body .ui-datatable thead th.ui-state-active.ui-state-hover .ui-column-title {
    color: var(--siamois-green)
}

body .ui-datatable thead th.ui-state-active.ui-state-hover .ui-sortable-column-icon.ui-icon-carat-2-n-s {
    color: var(--siamois-green);
}



/* spatial-unit */

/* spatial thead */

.spatial-unit-panel .ui-datatable thead th {
    background: var(--context-light-color-100);
}

.spatial-unit-panel .sia-modified-field {
    border-color: var(--context-main-color);
}

.spatial-unit-panel .ui-datatable thead th.ui-state-active {
    color: var(--context-main-color);
    background: var(--context-light-color-200);
}

.spatial-unit-panel .ui-datatable thead th.ui-state-hover {
    background: var(--context-light-color-50);
}

.spatial-unit-panel .ui-datatable thead th.ui-state-active.ui-state-hover {
    color: var(--context-main-color);
    background: var(--context-light-color-50);
}

.spatial-unit-panel .ui-datatable thead th.ui-state-active .ui-column-title {
    color: var(--context-main-color);
}

.spatial-unit-panel .ui-datatable thead th.ui-state-active .ui-sortable-column-icon.ui-icon-carat-2-n-s {
    color: var(--context-main-color);
}

.spatial-unit-panel .ui-datatable thead th.ui-state-hover .ui-column-title {
    color: var(--context-main-color);
}

.spatial-unit-panel .ui-datatable thead th.ui-state-hover .ui-sortable-column-icon.ui-icon-carat-2-n-s {
    color: var(--context-main-color);
}

.spatial-unit-panel .ui-datatable thead th.ui-state-active.ui-state-hover .ui-column-title {
    color: var(--context-main-color);
}

.spatial-unit-panel .ui-datatable thead th.ui-state-active.ui-state-hover .ui-sortable-column-icon.ui-icon-carat-2-n-s {
    color: var(--context-main-color);
}

.spatial-unit-panel .ui-datatable thead th.ui-sortable-column.ui-state-focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: inset 0 0 0 .2rem var(--context-main-color);
}


.spatial-unit-panel .ui-datatable-data td[role="gridcell"]:focus, .ui-datatable-data td[role="gridcell"] *:focus, .ui-datatable-data td[role="grid"] [tabindex="0"]:focus {
    outline: var(--context-main-color);
    outline-style: solid;
    outline-width: 2px;
}

.spatial-unit-panel .ui-datatable thead th .ui-sortable-column-badge {
    background: var(--context-main-color);
}

/* spatial paginator */

.spatial-unit-panel .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
    background: var(--context-light-color-100);
}

.spatial-unit-panel .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-focus {
    box-shadow: 0 0 0 .2rem var(--context-light-color-200);
}

.spatial-unit-panel .ui-paginator .ui-paginator-first.ui-state-focus, body .ui-paginator .ui-paginator-prev.ui-state-focus, body .ui-paginator .ui-paginator-next.ui-state-focus, body .ui-paginator .ui-paginator-last.ui-state-focus {
    box-shadow: 0 0 0 .2rem var(--context-light-color-200);
}

/* spatial input field */

.spatial-unit-panel .ui-chip {
    background-color: var(--context-main-color);
    color: white;
    font-size: 16px;
}

.spatial-unit-panel .ui-inputfield.ui-state-hover {
    border-color: var(--context-light-color-200);
}

.spatial-unit-panel .ui-inputfield.ui-state-focus {
    border-color: var(--context-light-color-200);
    box-shadow: 0 0 0 .2em var(--context-light-color-100);
}


.spatial-unit-autocomplete.ui-autocomplete-panel .ui-button {
    background: var(--context-main-color);
    border-color: var(--context-main-color);
}

.spatial-unit-autocomplete.ui-autocomplete-panel .ui-button:hover {
    background: var(--context-light-color-200);
    border-color: var(--context-light-color-200);
}

.spatial-unit-btn.ui-button {
    background: var(--context-main-color);
    border-color: var(--context-main-color);
}

.spatial-unit-btn.ui-button:hover {
    background: var(--context-dark-color);
    border-color: var(--context-dark-color);
}

.spatial-unit-autocomplete.ui-autocomplete-panel .ui-autocomplete-items .ui-autocomplete-item.ui-state-highlight {
    background: var(--context-light-color-50);
}


.ui-panel.spatial-unit-panel .ui-panel-titlebar {
    background: var(--context-light-color-100);

}

.spatial-unit-panel .sia-panel-title {
    color: var(--context-main-color);
}





/* buttons */

.spatial-unit-panel .ui-button {
    background: var(--context-main-color);
    border: 1px solid var(--context-main-color);
}

.spatial-unit-panel .ui-button:hover {
    background: var(--context-dark-color);
    border: 1px solid var(--context-dark-color);
}


/* BUTTONS */
.spatial-unit-panel .ui-button.sia-icon-btn {
    background: transparent;
    border: none;
    color: var(--context-main-color);
}

.spatial-unit-panel .ui-button.sia-icon-btn:hover {
    background: var(--context-light-color-50);
    border: none;
    color: var(--context-dark-color);
}

.spatial-unit-panel .ui-separator {
    background: var(--context-light-color-100);
}


.spatial-unit-panel .ui-divider.ui-divider-horizontal:before {
    border-top-color: var(--context-light-color-200);
}

.spatial-unit-panel .panel-footer {
    background: var(--context-light-color-100);
    border-radius: 0;
    border: none;
}



.ui-panel.spatial-unit-single-panel .ui-panel-content {
    background: var(--context-light-color-50);
}

.spatial-unit-single-panel .ui-breadcrumb {
    border: none;
    background: var(--context-light-color-50);
}

.spatial-unit-single-panel .siamois-toolbar {
    background: transparent;
    box-shadow: none;
}

.spatial-unit-single-panel .ui-tabs.ui-tabs-top > .ui-tabs-nav li.ui-tabs-header.ui-state-active {
    border-color: var(--context-main-color);
}

.spatial-unit-single-panel .ui-tabs .ui-tabs-nav li.ui-tabs-header.ui-state-active a {
    color: var(--context-main-color);
}


.spatial-unit-panel .ui-commandlink, .spatial-unit-panel .ui-link {
    color: var(--context-main-color);
}

.spatial-unit-panel .ui-commandlink:hover, .spatial-unit-panel .ui-link:hover {
    color: var(--context-main-color);
}




/* Action units panels */

.action-unit-panel .ui-chip {
    background-color: var(--context-main-color);
    color: white;
    font-size: 16px;
}

/* action thead */

.action-unit-panel .ui-datatable thead th {
    background: var(--context-light-color-100);
}

.action-unit-panel .ui-datatable thead th.ui-state-active {
    color: var(--context-main-color);
    background: var(--context-light-color-200);
}

.action-unit-panel .ui-datatable thead th.ui-state-hover {
    background: var(--context-light-color-50);
}

.action-unit-panel .ui-datatable thead th.ui-state-active.ui-state-hover {
    color: var(--context-main-color);
    background: var(--context-light-color-50);
}

.action-unit-panel .ui-datatable thead th.ui-state-active .ui-column-title {
    color: var(--context-main-color);
}

.action-unit-panel .ui-datatable thead th.ui-state-active .ui-sortable-column-icon.ui-icon-carat-2-n-s {
    color: var(--context-main-color);
}

.action-unit-panel .ui-datatable thead th.ui-state-hover .ui-column-title {
    color: var(--context-main-color);
}

.action-unit-panel .ui-datatable thead th.ui-state-hover .ui-sortable-column-icon.ui-icon-carat-2-n-s {
    color: var(--context-main-color);
}

.action-unit-panel .ui-datatable thead th.ui-state-active.ui-state-hover .ui-column-title {
    color: var(--context-main-color);
}

.action-unit-panel .ui-datatable thead th.ui-state-active.ui-state-hover .ui-sortable-column-icon.ui-icon-carat-2-n-s {
    color: var(--context-main-color);
}

.action-unit-panel .ui-datatable thead th.ui-sortable-column.ui-state-focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: inset 0 0 0 .2rem var(--context-main-color);
}


.action-unit-panel .ui-datatable-data td[role="gridcell"]:focus, .ui-datatable-data td[role="gridcell"] *:focus, .ui-datatable-data td[role="grid"] [tabindex="0"]:focus {
    outline: var(--context-main-color);
    outline-style: solid;
    outline-width: 2px;
}

.action-unit-panel .ui-datatable thead th .ui-sortable-column-badge {
    background: var(--context-main-color);
}

.action-unit-panel .ui-inputfield.ui-state-hover {
    border-color: var(--context-light-color-200);
}

.action-unit-panel .ui-inputfield.ui-state-focus {
    border-color: var(--context-light-color-200);
    box-shadow: 0 0 0 .2em var(--context-light-color-100);
}

.action-unit-autocomplete.ui-autocomplete-panel .ui-button {
    background: var(--context-main-color);
    border-color: var(--context-main-color);
}

.action-unit-autocomplete.ui-autocomplete-panel .ui-button:hover {
    background: var(--context-dark-color);
    border-color: var(--context-dark-color);
}

.action-unit-autocomplete.ui-autocomplete-panel .ui-autocomplete-items .ui-autocomplete-item.ui-state-highlight {
    background: var(--context-light-color-50);
}

.ui-panel.action-unit-panel .ui-panel-titlebar {
    background: var(--context-light-color-100);

}

.action-unit-panel .ui-button.sia-icon-btn {
    background: transparent;
    border: none;
    color: var(--context-main-color);
}

.action-unit-panel .ui-button.sia-icon-btn:hover {
    background: var(--context-light-color-50);
    border: none;
    color: var(--context-dark-color);
}

.action-unit-panel .sia-panel-title {
    color: var(--context-main-color);
}


.action-unit-panel .ui-button {
    background: var(--context-main-color);
    border: 1px solid var(--context-main-color);
}

.action-unit-panel .ui-button:hover {
    background: var(--context-dark-color);
    border: 1px solid var(--context-dark-color);
}


.action-unit-btn.ui-button {
    background: var(--context-main-color);
    border: 1px solid var(--context-main-color);
}

.action-unit-btn.ui-button:hover {
    background: var(--context-dark-color);
    border: 1px solid var(--context-dark-color);
}

.action-unit-panel .ui-separator {
    background: var(--context-light-color-100);
}


.action-unit-panel .ui-divider.ui-divider-horizontal:before {
    border-top-color: var(--context-light-color-200);
}

.action-unit-panel .panel-footer {
    background: var(--context-light-color-100);
    border-radius: 0;
    border: none;
}






.ui-panel.action-unit-single-panel .ui-panel-content {
    background: var(--context-light-color-50);
}

.action-unit-single-panel .ui-breadcrumb {
    border: none;
    background: var(--context-light-color-50);
}

.action-unit-single-panel .siamois-toolbar {
    background: transparent;
    box-shadow: none;
}

/* action paginator */

.action-unit-panel .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
    background: var(--context-light-color-100);
}

.action-unit-panel .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-focus {
    box-shadow: 0 0 0 .2rem var(--context-light-color-200);
}

.action-unit-panel .ui-paginator .ui-paginator-first.ui-state-focus, body .ui-paginator .ui-paginator-prev.ui-state-focus, body .ui-paginator .ui-paginator-next.ui-state-focus, body .ui-paginator .ui-paginator-last.ui-state-focus {
    box-shadow: 0 0 0 .2rem var(--context-light-color-200);
}

.action-unit-single-panel .ui-tabs.ui-tabs-top > .ui-tabs-nav li.ui-tabs-header.ui-state-active {
    border-color: var(--context-main-color);
}

.action-unit-single-panel .ui-tabs .ui-tabs-nav li.ui-tabs-header.ui-state-active a {
    color: var(--context-main-color);
}

.action-unit-panel .ui-commandlink, .action-unit-panel .ui-link {
    color: var(--context-main-color);
}

.action-unit-panel .ui-commandlink:hover, .action-unit-panel .ui-link:hover {
    color: var(--context-main-color);
}


/* Recording units panels */

.recording-unit-panel .ui-autocomplete .ui-autocomplete-multiple-container .ui-autocomplete-token {
    background-color: var(--ground-main-color);
    color: white;
}

.recording-unit-panel .ui-chip {
    background-color: var(--ground-main-color);
    color: white;
    font-size: 16px;
}

.recording-unit-panel .sia-modified-field {
    border-color: var(--ground-main-color);
}

.recording-unit-panel .ui-datatable thead th.ui-state-active {
    color: var(--ground-main-color);
    background: var(--ground-light-color-200);
}

.recording-unit-panel .ui-datatable thead th.ui-state-hover {
    background: var(--ground-light-color-50);
}

.recording-unit-panel .ui-datatable thead th.ui-state-active.ui-state-hover {
    color: var(--ground-main-color);
    background: var(--ground-light-color-50);
}

.recording-unit-panel .ui-datatable thead th.ui-state-active .ui-column-title {
    color: var(--ground-main-color);
}

.recording-unit-panel .ui-datatable thead th.ui-state-active .ui-sortable-column-icon.ui-icon-carat-2-n-s {
    color: var(--ground-main-color);
}

.recording-unit-panel .ui-datatable thead th.ui-state-hover .ui-column-title {
    color: var(--ground-main-color);
}

.recording-unit-panel .ui-datatable thead th.ui-state-hover .ui-sortable-column-icon.ui-icon-carat-2-n-s {
    color: var(--ground-main-color);
}

.recording-unit-panel .ui-datatable thead th.ui-state-active.ui-state-hover .ui-column-title {
    color: var(--ground-main-color);
}

.recording-unit-panel .ui-datatable thead th.ui-state-active.ui-state-hover .ui-sortable-column-icon.ui-icon-carat-2-n-s {
    color: var(--ground-main-color);
}

.recording-unit-panel .ui-datatable thead th.ui-sortable-column.ui-state-focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: inset 0 0 0 .2rem var(--ground-main-color);
}


.recording-unit-panel .ui-datatable-data td[role="gridcell"]:focus, .ui-datatable-data td[role="gridcell"] *:focus, .ui-datatable-data td[role="grid"] [tabindex="0"]:focus {
    outline: var(--ground-main-color);
    outline-style: solid;
    outline-width: 2px;
}

.recording-unit-panel .ui-datatable thead th .ui-sortable-column-badge {
    background: var(--ground-main-color);
}

.recording-unit-panel .ui-datatable .ui-datatable-data > tr.ui-state-highlight {
    background: var(--ground-light-color-50)
}

/* paginator paginator */

.recording-unit-panel .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
    background: var(--ground-light-color-100);
}

.recording-unit-panel .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-focus {
    box-shadow: 0 0 0 .2rem var(--ground-light-color-200);
}

.recording-unit-panel .ui-paginator .ui-paginator-first.ui-state-focus, body .ui-paginator .ui-paginator-prev.ui-state-focus, body .ui-paginator .ui-paginator-next.ui-state-focus, body .ui-paginator .ui-paginator-last.ui-state-focus {
    box-shadow: 0 0 0 .2rem var(--ground-light-color-200);
}

.recording-unit-autocomplete.ui-autocomplete-panel .ui-button {
    background: var(--ground-main-color);
    border-color: var(--ground-main-color);
}

.recording-unit-autocomplete.ui-autocomplete-panel .ui-button:hover {
    background: var(--ground-dark-color);
    border-color: var(--ground-dark-color);
}

.recording-unit-panel .ui-inputfield.ui-state-hover {
    border-color: var(--ground-light-color-200);
}

.recording-unit-panel .ui-inputfield.ui-state-focus {
    border-color: var(--ground-light-color-200);
    box-shadow: 0 0 0 .2em var(--ground-light-color-100);
}

.recording-unit-autocomplete.ui-autocomplete-panel .ui-autocomplete-items .ui-autocomplete-item.ui-state-highlight {
    background: var(--ground-light-color-50);
}

.ui-panel.recording-unit-panel .ui-panel-titlebar {
    background: var(--ground-light-color-100);

}

.recording-unit-panel .sia-panel-title {
    color: var(--ground-main-color);
}

.recording-unit-panel .ui-datatable thead th {
    background: var(--ground-light-color-100);
}

.recording-unit-panel .ui-button {
    background: var(--ground-main-color);
    border: 1px solid var(--ground-main-color);
}

.recording-unit-panel .ui-button:hover {
    background: var(--ground-dark-color);
    border: 1px solid var(--ground-dark-color);
}

.recording-unit-btn.ui-button {
    background: var(--ground-main-color);
    border: 1px solid var(--ground-main-color);
}

.recording-unit-btn.ui-button:hover {
    background: var(--ground-dark-color);
    border: 1px solid var(--ground-dark-color);
}

.recording-unit-panel .ui-separator {
    background: var(--ground-light-color-100);
}


.recording-unit-panel .ui-divider.ui-divider-horizontal:before {
    border-top-color: var(--ground-light-color-200);
}

.recording-unit-panel .panel-footer {
    background: var(--ground-light-color-100);
    border-radius: 0;
    border: none;
}

.ui-chip.recording-unit-count-chip {
    background-color: white;
    border: 1px solid var(--ground-main-color);
    color: var(--ground-main-color);
    font-size: 16px;
}

.ui-chip.recording-unit-count-chip-alt {
    background-color: var(--ground-main-color);
    border: 1px solid var(--ground-main-color);
    color: white;
    font-size: 16px;
}


.ui-panel.recording-unit-single-panel .ui-panel-content {
    background: var(--ground-light-color-50);
}

.recording-unit-single-panel .ui-breadcrumb {
    border: none;
    background: var(--ground-light-color-50);
}

.recording-unit-single-panel .siamois-toolbar {
    background: transparent;
    box-shadow: none;
}

.recording-unit-single-panel .ui-tabs.ui-tabs-top > .ui-tabs-nav li.ui-tabs-header.ui-state-active {
    border-color: var(--ground-main-color);
}

.recording-unit-single-panel .ui-tabs .ui-tabs-nav li.ui-tabs-header.ui-state-active a {
    color: var(--ground-main-color);
}



.recording-unit-panel .ui-commandlink, .recording-unit-panel .ui-link {
    color: var(--ground-main-color);
}

.recording-unit-panel .ui-commandlink:hover, .recording-unit-panel .ui-link:hover {
    color: var(--ground-main-color);
}


.ui-commandlink.sia-recording-unit-command-link , .sia-recording-unit-command-link.ui-link:hover {
    color: var(--ground-main-color);
}

.ui-commandlink.sia-recording-unit-command-link:hover , .sia-recording-unit-command-link.ui-link:hover  {
    color: var(--ground-main-color);
}

/* forms */

.ui-panel.sia-form-panel .ui-panel-content {
    background: transparent;
    color: var(--text-main);
    border: none;
    padding: 0;
}

/* BUTTONS */
.recording-unit-panel .ui-button.sia-icon-btn {
    background: transparent;
    border: none;
    color: var(--ground-main-color);
}

.recording-unit-panel .ui-button.sia-icon-btn:hover {
    background: var(--ground-light-color-50);
    border: none;
    color: var(--ground-dark-color);
}

/* specimen */


/* Recording units panels */

.specimen-panel .ui-autocomplete .ui-autocomplete-multiple-container .ui-autocomplete-token {
    background-color: var(--ground-main-color);
    color: white;
}

.specimen-panel .ui-chip {
    background-color: var(--ground-main-color);
    color: white;
    font-size: 16px;
}

.specimen-panel .sia-modified-field {
    border-color: var(--ground-main-color);
}

.specimen-panel .ui-datatable thead th.ui-state-active {
    color: var(--ground-main-color);
    background: var(--ground-light-color-200);
}

.specimen-panel .ui-datatable thead th.ui-state-hover {
    background: var(--ground-light-color-50);
}

.specimen-panel .ui-datatable thead th.ui-state-active.ui-state-hover {
    color: var(--ground-main-color);
    background: var(--ground-light-color-50);
}

.specimen-panel .ui-datatable thead th.ui-state-active .ui-column-title {
    color: var(--ground-main-color);
}

.specimen-panel .ui-datatable thead th.ui-state-active .ui-sortable-column-icon.ui-icon-carat-2-n-s {
    color: var(--ground-main-color);
}

.specimen-panel .ui-datatable thead th.ui-state-hover .ui-column-title {
    color: var(--ground-main-color);
}

.specimen-panel .ui-datatable thead th.ui-state-hover .ui-sortable-column-icon.ui-icon-carat-2-n-s {
    color: var(--ground-main-color);
}

.specimen-panel .ui-datatable thead th.ui-state-active.ui-state-hover .ui-column-title {
    color: var(--ground-main-color);
}

.specimen-panel .ui-datatable thead th.ui-state-active.ui-state-hover .ui-sortable-column-icon.ui-icon-carat-2-n-s {
    color: var(--ground-main-color);
}

.specimen-panel .ui-datatable thead th.ui-sortable-column.ui-state-focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: inset 0 0 0 .2rem var(--ground-main-color);
}


.specimen-panel .ui-datatable-data td[role="gridcell"]:focus, .ui-datatable-data td[role="gridcell"] *:focus, .ui-datatable-data td[role="grid"] [tabindex="0"]:focus {
    outline: var(--ground-main-color);
    outline-style: solid;
    outline-width: 2px;
}

.specimen-panel .ui-datatable thead th .ui-sortable-column-badge {
    background: var(--ground-main-color);
}

.specimen-panel .ui-datatable .ui-datatable-data > tr.ui-state-highlight {
    background: var(--ground-light-color-50)
}

/* paginator paginator */

.specimen-panel .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
    background: var(--ground-light-color-100);
}

.specimen-panel .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-focus {
    box-shadow: 0 0 0 .2rem var(--ground-light-color-200);
}

.specimen-panel .ui-paginator .ui-paginator-first.ui-state-focus, body .ui-paginator .ui-paginator-prev.ui-state-focus, body .ui-paginator .ui-paginator-next.ui-state-focus, body .ui-paginator .ui-paginator-last.ui-state-focus {
    box-shadow: 0 0 0 .2rem var(--ground-light-color-200);
}

.specimen-autocomplete.ui-autocomplete-panel .ui-button {
    background: var(--ground-main-color);
    border-color: var(--ground-main-color);
}

.specimen-autocomplete.ui-autocomplete-panel .ui-button:hover {
    background: var(--ground-dark-color);
    border-color: var(--ground-dark-color);
}

.specimen-panel .ui-inputfield.ui-state-hover {
    border-color: var(--ground-light-color-200);
}

.specimen-panel .ui-inputfield.ui-state-focus {
    border-color: var(--ground-light-color-200);
    box-shadow: 0 0 0 .2em var(--ground-light-color-100);
}

.specimen-autocomplete.ui-autocomplete-panel .ui-autocomplete-items .ui-autocomplete-item.ui-state-highlight {
    background: var(--ground-light-color-50);
}

.ui-panel.specimen-panel .ui-panel-titlebar {
    background: var(--ground-light-color-100);

}

.specimen-panel .sia-panel-title {
    color: var(--ground-main-color);
}

.specimen-panel .ui-datatable thead th {
    background: var(--ground-light-color-100);
}

.specimen-panel .ui-button {
    background: var(--ground-main-color);
    border: 1px solid var(--ground-main-color);
}

.specimen-panel .ui-button:hover {
    background: var(--ground-dark-color);
    border: 1px solid var(--ground-dark-color);
}

.specimen-btn.ui-button {
    background: var(--ground-main-color);
    border: 1px solid var(--ground-main-color);
}

.specimen-btn.ui-button:hover {
    background: var(--ground-dark-color);
    border: 1px solid var(--ground-dark-color);
}

.specimen-panel .ui-separator {
    background: var(--ground-light-color-100);
}


.specimen-panel .ui-divider.ui-divider-horizontal:before {
    border-top-color: var(--ground-light-color-200);
}

.specimen-panel .panel-footer {
    background: var(--ground-light-color-100);
    border-radius: 0;
    border: none;
}

.ui-chip.specimen-count-chip {
    background-color: white;
    border: 1px solid var(--ground-main-color);
    color: var(--ground-main-color);
    font-size: 16px;
}

.ui-chip.specimen-count-chip-alt {
    background-color: var(--ground-main-color);
    border: 1px solid var(--ground-main-color);
    color: white;
    font-size: 16px;
}


.ui-panel.specimen-single-panel .ui-panel-content {
    background: var(--ground-light-color-50);
}

.specimen-single-panel .ui-breadcrumb {
    border: none;
    background: var(--ground-light-color-50);
}

.specimen-single-panel .siamois-toolbar {
    background: transparent;
    box-shadow: none;
}

.specimen-single-panel .ui-tabs.ui-tabs-top > .ui-tabs-nav li.ui-tabs-header.ui-state-active {
    border-color: var(--ground-main-color);
}

.specimen-single-panel .ui-tabs .ui-tabs-nav li.ui-tabs-header.ui-state-active a {
    color: var(--ground-main-color);
}



.specimen-panel .ui-commandlink, .specimen-panel .ui-link {
    color: var(--ground-main-color);
}

.specimen-panel .ui-commandlink:hover, .specimen-panel .ui-link:hover {
    color: var(--ground-main-color);
}


.ui-commandlink.sia-specimen-command-link , .sia-specimen-command-link.ui-link:hover {
    color: var(--ground-main-color);
}

.ui-commandlink.sia-specimen-command-link:hover , .sia-specimen-command-link.ui-link:hover  {
    color: var(--ground-main-color);
}

/* forms */

.ui-panel.sia-form-panel .ui-panel-content {
    background: transparent;
    color: var(--text-main);
    border: none;
    padding: 0;
}

/* BUTTONS */
.specimen-panel .ui-button.sia-icon-btn {
    background: transparent;
    border: none;
    color: var(--ground-main-color);
}

.specimen-panel .ui-button.sia-icon-btn:hover {
    background: var(--ground-light-color-50);
    border: none;
    color: var(--ground-dark-color);
}

.ui-panel.sia-form-panel .ui-panel-titlebar {
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--siamois-green-light-350);
    color: var(--text-main);
    padding: 0.5em;
}

.action-unit-panel .sia-form-panel .ui-panel-titlebar {
    border-bottom: 1px solid var(--context-light-color-200);
}

.recording-unit-panel .sia-form-panel .ui-panel-titlebar {
    border-bottom: 1px solid var(--ground-light-color-200);
}

.specimen-panel .sia-form-panel .ui-panel-titlebar {
    border-bottom: 1px solid var(--ground-light-color-200);
}

.spatial-unit-panel .sia-form-panel .ui-panel-titlebar {
    border-bottom: 1px solid var(--context-light-color-200);
}


/* Welcome cards */
.sia-welcome-card .ui-card-body {
    height: 20vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sia-welcome-card.sia-spatial-unit {
    background: var(--context-light-color-50);
    color: var(--context-main-color)
}

.sia-welcome-card.sia-action-unit {
    background: var(--context-light-color-50);
    color: var(--context-main-color)
}

.sia-welcome-card.sia-recording-unit {
    background: var(--ground-light-color-50);
    color: var(--ground-main-color)
}

.sia-welcome-card.sia-specimen {
    background: var(--ground-light-color-50);
    color: var(--ground-main-color)
}

.sia-welcome-card .ui-card-footer {
    text-align: center;
}

/* tabs */
.recording-unit-tab .ui-datatable thead th {
    background: var(--ground-light-color-100);
}

.recording-unit-tab .ui-commandlink, .recording-unit-tab .ui-link {
    color: var(--ground-main-color)
}

.recording-unit-tab .ui-commandlink:hover, .recording-unit-tab:hover .ui-link {
    color: var(--ground-main-color)
}

.recording-unit-tab .ui-button {
    background: var(--ground-main-color);
    border: 1px solid var(--ground-main-color);
}

.recording-unit-tab .ui-button:hover {
    background: var(--ground-dark-color);
    border: 1px solid var(--ground-dark-color);
}

/* tabs */
.specimen-tab .ui-datatable thead th {
    background: var(--ground-light-color-100);
}

.specimen-tab .ui-commandlink, .specimen-tab .ui-link {
    color: var(--ground-main-color)
}

.specimen-tab .ui-commandlink:hover, .specimen-tab:hover .ui-link {
    color: var(--ground-main-color)
}

.specimen-tab .ui-button {
    background: var(--ground-main-color);
    border: 1px solid var(--ground-main-color);
}

.specimen-tab .ui-button:hover {
    background: var(--ground-dark-color);
    border: 1px solid var(--ground-dark-color);
}

/* dialogs */

.sia-new-unit-dialog.ui-dialog .ui-dialog-titlebar {
    padding:0;
}

.sia-new-unit-dialog.ui-dialog .ui-dialog-footer {
    padding:0;
}

.ui-chip.error-chip {
    background-color: var(--error-main);
    border: none;
    color: white;
    font-size: 16px;
}


/* chips */

.ui-chip.action-unit-type-chip {
    background-color: var(--context-main-color);
    color: white;
    font-size: 16px;
}

.ui-chip.spatial-unit-count-chip {
    background-color: white;
    border: 1px solid var(--context-main-color);
    color: var(--context-main-color);
    font-size: 16px;
}

.ui-chip.spatial-unit-count-chip-alt {
    background-color: var(--context-main-color);
    border: 1px solid var(--context-main-color);
    color: white;
    font-size: 16px;
}

.ui-chip.spatial-unit-type-chip {
    background-color: var(--context-main-color);
    color: white;
    font-size: 16px;
}

.ui-chip.recording-unit-type-chip {
    background-color: var(--ground-main-color);
    color: white;
    font-size: 16px;
}

.ui-chip.specimen-type-chip {
    background-color: var(--ground-main-color);
    color: white;
    font-size: 16px;
}

.ui-chip.valid-type-chip {
    background-color: var(--green-valid);
    color: white;
    font-size: 16px;
}

.ui-chip.action-unit-count-chip {
    background-color: white;
    border: 1px solid var(--context-main-color);
    color: var(--context-main-color);
    font-size: 16px;
}

.ui-chip.action-unit-count-chip-alt {
    background-color: var(--context-main-color);
    border: 1px solid var(--context-main-color);
    color: white;
    font-size: 16px;
}



