* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main form {
    width: 100%;
    display: flex;
    justify-content: center
}

.field-value-group {
    display: grid;
    grid-template:
        "title . ."
        "card-content card-content card-content"
        ". . save";
    width: 45%;
    grid-row-gap: 2vh;
    margin-top: 4vh;
}

main form:first-child .field-value-group {
    margin-top: 10vh;
}

.field-value-title {
    grid-area: title;
}

.field-value-content {
    grid-area: card-content;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.field-value-save {
    grid-area: save;
}

.field-value-value {
    margin-left: auto;
}

.field-value-value * {
    width: 100%;
}

.field-value-group button[type=submit]{
    width: fit-content;
    margin-left: auto;
    background-color: var(--siamois-green);
    border-color: var(--siamois-green);
}

.datatable-settings {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    row-gap: 1vh;
}

.datatable-info {
    margin-left: 3vw;
    margin-right: 3vw;

    display: grid;
    grid-template:
        "title title title title title"
        "desc desc desc desc desc"
        "search search . . add";
}

.dt-title {
    grid-area: title;
}

.dt-desc {
    grid-area: desc;
}

.dt-searchInput {
    grid-area: search;
}

.dt-content {
    grid-area: content;
}

.addButton {
    grid-area: add;
}

.ui-widget .dt-button {
    background-color: white;
    border-color: white;
}

.ui-widget .dt-button:hover {
    background-color: var(siamoi);
    border-color: white;
}

.dt-button span.bi {
    color: var(--siamois-green);
}
