/* Basic Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

.layout-container {

    height: 100vh;

}

.left-panel {
    background-color: #c7c7c7;
    padding: 20px;
    min-height: 100%;
    transition: width 0.3s;
}

.app-name {
    font-size: 20px;
    min-height: 100%;
    background-color: white;
    font-weight: bold;
    margin-bottom: 20px;
}

.top-bar {
    flex-grow: 1;
    background-color: #bed730;
    padding: 10px;
    min-height: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

.icon-only-menu .ui-menuitem-text {
    display: none; /* Hide the text labels */
}
.icon-only-menu .ui-menuitem-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px; /* Adjust width as needed */
    height: 40px; /* Adjust height as needed */
}

.form-panel {
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-control {
    border: none;
}

.custom-marker {
    display: flex;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 50%;
    z-index: 1;
}

.ui-chronoline-event-content,
.ui-chronoline-event-opposite {
    line-height: 1;
    width: 0px;
}


.ui-chip.custom-chip {
    background: var(--primary-color);
    color: var(--primary-color-text);
}

