
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {

    --green-valid: #22c55e;

    --siamois-green: #80B480;
    --siamois-primary: #BED730;
    --siamois-green-unknown: #f9fbf9;
    --siamois-primary-green: #BED730;
    --siamois-green-light-100: #E6F0E6;
    --siamois-green-light-350: #A6CBA6;
    --main-content-background: #FAFAFA;
    --main-content-top-stroke: #c4c4c4;
    --text-light: #6B7280;
    --text-main: #2A2C30;

    --context-main-color: #068DA9;
    --context-light-color-50: #EDF4F6;
    --context-light-color-100: #CDE8EE;
    --context-light-color-200: #B4DDE5;
    --context-dark-color: #056376;

    --ground-main-color: #7E1717;
    --ground-light-color-100: #E5D1D1;
    --ground-light-color-200: #D8B9B9;
    --ground-light-color-50: #ECE4E4;
    --ground-dark-color: #581011;
}


html, body {
    height: 100%;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

.layout-container {

    height: 100vh;

}

.left-panel {
    background-color: #c7c7c7;
    padding: 20px;
    min-height: 100%;
    transition: width 0.3s;
}

.app-name {
    font-size: 20px;
    min-height: 100%;
    background-color: white;
    font-weight: bold;
    margin-bottom: 20px;
}

.top-bar {
    flex-grow: 1;
    background-color: #bed730;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.label-icon {
    margin-left: 4px; /* Adjust spacing between the image and label */
    max-height: 16px; /* Prevent image from exceeding the container's height */
    width: auto; /* Maintain aspect ratio of the image */
}

.siamois-row {
    margin-bottom: 1rem;
}

.shadow {
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

.main-content {
    flex-grow: 1;
    margin: 20px;
    overflow-y: auto;
}

.icon-only-menu .ui-menuitem-text {
    display: none; /* Hide the text labels */
}
.icon-only-menu .ui-menuitem-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px; /* Adjust width as needed */
    height: 40px; /* Adjust height as needed */
}

.form-panel {
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-control {
    border: none;
}

.custom-marker {
    display: flex;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 50%;
    z-index: 1;
}

.ui-chronoline-event-content,
.ui-chronoline-event-opposite {
    line-height: 1;
    width: 0;
}


.ui-chip.custom-chip {
    background: white;
    color: var(--primary-color-text);
}

.left-menu {
    border: none; !important;
    width: 100%; !important;
}


.edit-type-chip:hover {
    background: #2196f3;
    color: white;
}

.stratigraphy-neighborhood .ui-chronoline-event-opposite {
    display: none !important; /* Hides the opposite side */
    width: 0 !important; /* Ensures no space is occupied */
}

i#user-icon {
    width: 40px;
    height: 40px;
}

